local secrets = {
    subnets = {
        whitelist = {"1.2.3.0/24", "2.3.4.0/24"},
        blacklist = {"3.4.5.0/24", "4.5.6.0/24"}
    },
    geoip = {
        geoip_db_path = {
            geoip_city = "/usr/share/GeoIP/GeoLite2-City.mmdb",
            geoip_asn = "/usr/share/GeoIP/GeoLite2-ASN.mmdb",
            geoip_country = "/usr/share/GeoIP/GeoLite2-Country.mmdb"
        },
        blocked_countries = { "RU" } -- country codes to block
    },
    redis = {
        host = "127.0.0.1",
        port = 6379,
        auth = "your_redis_password",
        pool_config = {
            pool_size = 100,             -- Redis connection pool size
            pool_max_idle_time = 10000,  -- Connection pool timeout (ms)
            backlog = 200,
            pool_timeout = 1000
        },
        timeout = 100,
    },
    cache = {
        bl_ttl = 120, --Duration of an entry's life in the blacklist cache in seconds
        wt_ttl = 220, --Duration of an entry's life in the whitelist cache in seconds
    },


}
return secrets